<h1>bye world</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <form action="#">
        <h1 class="text-center">Get in touch</h1>
            <!-- Your form content -->
          <div class="row">
            <div class="col-xs-6">
            <div class="form-group">
              <label for="first-name">First name</label>
              <input type="text" class="form-control" id="first-name" placeholder="First name">
            </div>
          </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="last-name">Last name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Last name">
              </div>
            </div>
          </div>
              <div class="form-group">
                <label for="your-email">Your email</label>
                <input type="email" class="form-control" id="your-email" placeholder="name@email.com">
              </div>
              <div class="form-group">
                <label for="your-message">Your message</label>
                <input type="text" class="form-control" id="your-message" placeholder="Your message">
              </div>
              <div>
                <input type="submit" value="Submit">
               </div>
             </div>
          </form>
        </div>
      </div>
    </div>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
