<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <form action="#">
        <h1 class="text-center">Let's write a blog!</h1>
            <!-- Your form content -->
          <div class="row">
            <div class="col-xs-6">
            <div class="form-group">
              <label for="">Image</label>
              <input type="img" class="form-control" id="imageUrl" placeholder="imageUrl">
              <!-- insert upload button -->
              <!-- It should be possible to upload multiple pictures -->
            </div>
          </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="restaurant">Restaurant name</label>
                <input type="text" class="form-control" id="restaurant" placeholder="Restaurant name">
              </div>
            </div>
          </div>
              <div class="form-group">
                <label for="title">Blog post title</label>
                <input type="title" class="form-control" id="title" placeholder="Blog post title">
              </div>
              <div class="form-group">
                <label for="body">Body of the blog post</label>
                <input type="text" class="form-control" id="body" placeholder="Body of the post">
              </div>
              <div class="form-group">
                <label for="rating">Restaurant rating</label>
                <input type="text" class="form-control" id="rating" placeholder="Restaurant rating">
              </div>
              <div>
                <input type="submit" value="Submit">
               </div>
             </div>
          </form>
        </div>
      </div>
    </div>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
