<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('/assets/banner_photo.jpg')"/>
  <div class="banner-content">
    <h1>London Foodi</h1>
    <p>London's best brunch spots checked out for you</p>
    <!-- <a class="btn btn-primary btn-lg">Get in touch</a> -->
  </div>
</div>
